.productClassList {
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    margin-top: 0px;
}

.productClassItem {
    margin: 5px;
    width: 98%;
    height: auto;
    border-top: 1px solid #ededed;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.productClassItem .content_view {
    display: flex;
    flex-direction: row;
}

.productClassItem .productClassImg {
    width: 30%;
    text-align: right;
    padding: 2px;
    border-right: 1px solid #eee;
}

.productClassItem .productClassImg img {
    width: 100%;
    height: auto;
}

.productClassItem .productClassText {
    width:70%;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.productClassItem .productClassText div {
    line-height: 25px;
    height: auto;
}

.productClassItem .opt_view {
    display:block;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: right;
}

.productClassQueryForm {
    width: 100%;
    height: auto;
}

.productClassQueryForm h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.productClassQueryForm .queryBtn {
    text-align: right;
    margin: 10px;
}
